name: Test workflow on call

on:
  workflow_call:
    inputs:
      ios:
        type: boolean
      android:
        type: boolean

#      flavor:
#        description: "Environment. Must be: DEV, TEST, PROD"
#        required: true
#        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: test
        shell: bash
        run: |
          echo "ios: ${{ inputs.ios }}"
          echo "android: ${{ inputs.android }}"
#  validate-inputs:
#    runs-on: ubuntu-latest
#    outputs:
#      flavor: ${{ inputs.flavor }}
#    steps:
#      - id: validate
#        shell: bash
#        env:
#          INPUT_FLAVOR: ${{ inputs.flavor }}
#          ALLOWED_FLAVORS: "DEV TEST PROD"
#        run: |
#          IFS=' ' read -r -a allowed_array <<< "$ALLOWED_FLAVORS"
#          for f in "${allowed_array[@]}"; do [ "$INPUT_FLAVOR" == "$f" ] && exit 0; done
#
#          echo "âŒ Invalid flavor: $INPUT_FLAVOR. Supported: $ALLOWED_FLAVORS"
#          exit 1


